<div class="flex mt-2 justify-center">
    <figure>
        <img src="assets/images/Logo-nena-lela-sin-fondo.png" alt="Logo" class="w-1/2 mx-auto">
    </figure>
</div>
<div class="flex justify-center">
    <div class="sm:w-full md:w-1/2 p-4 text-center">
        <div class="mt-7 font-primary p-1 text-gray-100 text-lg">
            <a class="btn-sedes rounded-full px-10 py-4" routerLink="nena-lela-tratoria"> <i class="jet-button__icon jet-elements-icon"></i> Nena Lela Trattoria Cra 52</a>
        </div>
        <div class="mt-7 font-primary p-1 text-gray-100 text-lg">
            <a class="btn-sedes rounded-full px-10 py-4" routerLink="famiglia">Famiglia (CC Plaza Campestre)</a>
        </div>
        <div class="mt-7 font-primary p-1 text-gray-100 text-lg">
            <a class="btn-sedes rounded-full px-10 py-4" routerLink="pizza-lela-buenavista-2">Pizza Lela CC Buenavista 2</a>
        </div>
        <div class="mt-7 font-primary p-1 text-gray-100 text-lg">
            <a class="btn-sedes rounded-full px-10 py-4" routerLink="pizza-lela-caiman">Pizza Lela Caimán del rio</a>
        </div>
    </div>
</div>
