<div class="flex mt-20 justify-center min-h-screen">
    <div class="sm:w-full md:w-1/2 p-4 text-center">
      <figure>
        <img
          src="assets/images/Logo-nena-lela-sin-fondo.png"
          alt="Logo"
          class="mx-auto"
        >
      </figure>
      <div class="mt-5">
        <p class="font-primary text-secondary">
          Nena Lela es un <strong>Restaurante familiar en Barranquilla</strong>, pionero de la cocina italiana en la ciudad desde <strong>1980</strong>.
          Con más de 40 años de tradición, ha deleitado a sus comensales con auténticos sabores italianos, convirtiéndose en un orgullo para los barranquilleros. <br><br>
          La pasión y dedicación de la familia detrás de <strong>Nena Lela</strong>  han permitido que cada plato cuente una historia, ofreciendo una experiencia gastronómica única que combina tradición y calidad. 
          Actualmente, cuentan con varias sedes en la ciudad, incluyendo <span class="bold">Nena Lela Trattoria en la Cra. 52 #76-66</span> , <strong>Pizza Lela en el Centro Comercial Buenavista</strong>  y <strong>Caimán del Río</strong>. 
          <br><br> 
          <span class="bold">Visitanos pronto...</span>
        </p>
      </div>
    </div>
</div>
  