<div class="flex mt-2 justify-center">
    <figure>
        <img src="assets/images/Logo-nena-lela-sin-fondo.png" alt="Logo" class="w-1/2 mx-auto">
    </figure>
</div>
<div class="flex justify-center">
    
    <div class="sm:w-full md:w-1/2 p-4 text-center">
        <p class="text-primary">Visita a nuestras redes sociales para conocer un poco más de nuestra actividad</p>
        <div class="mt-7 ">
            <div class="elementor-widget-container">
                <div class="flex justify-center gap-10">
                    <span class="icono-redes">
                        <a class="mt-2" href="https://www.instagram.com/nenalelatrattoria/" target="_blank">
                            <i class="fab fa-instagram mt-4"></i>					
                        </a>
                    </span>
                    <span class="icono-redes">
                        <a class="" href="https://www.facebook.com/profile.php?id=61551454867402" target="_blank">
                            <i class="fab fa-facebook-f mt-4"></i>					
                        </a>
                    </span>
                    <span class="icono-redes">
                        <a class="" href="https://www.google.com/search?q=nena+lela+trattoria&amp;rlz=1C5CHFA_enCO1114CO1114&amp;oq=nena+lela+trattoria&amp;gs_lcrp=EgZjaHJvbWUqCggAEAAY4wIYgAQyCggAEAAY4wIYgAQyEAgBEC4YrwEYxwEYgAQYjgUyCAgCEAAYFhgeMggIAxAAGBYYHjIKCAQQABiABBiiBDIKCAUQABiABBiiBDIKCAYQABiABBiiBDIGCAcQRRg80gEINDk1NmowajmoAgCwAgE&amp;sourceid=chrome&amp;ie=UTF-8&amp;lqi=ChNuZW5hIGxlbGEgdHJhdHRvcmlhSNTLn6-HsoCACForEAAQARACGAAYARgCIhNuZW5hIGxlbGEgdHJhdHRvcmlhKggIAhAAEAEQApIBEml0YWxpYW5fcmVzdGF1cmFudKoBPBABMh8QASIb1wzaPYNATqAAV2fqTp8eKuUhhDT2b2PjMv05MhcQAiITbmVuYSBsZWxhIHRyYXR0b3JpYQ#rlimm=2318121583713138175" target="_blank">
                            <i class="fab fa-google mt-4"></i>					
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

